Flask==2.3.3
gunicorn==21.2.0
python-dotenv==1.0.0

langchain==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-ibm==0.1.12

openai==1.40.6
ibm-watsonx-ai>=0.2.6

httpx==0.27.2
blinker==1.7.0
psycopg[binary]==3.2.3
